.home{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
}

.back-controler{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 200px;
    z-index: 99;
    margin-top: -15px;
}

.back-controler .btns{
    font-size: 30px;
    background: none;
    border: 2px solid #00000030;
    cursor: pointer;
}

.home__image{
    position: relative;
    top: -25px !important;
    width: 100%;
    z-index: -1;
    margin-bottom: -250px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home .all__products{
    width: 100%;
    text-align: center;
}