.filter{
    width: 15%;
    text-align: left;
    padding: 20px;
}

.filter .fa-star{
    color: #ff99006f;
}

.filter .filled{
    color: #FF9900;
}

.start_container:hover{
    cursor: pointer;
}


.filter__header{
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 700;
}
.filter p{
    margin: 0;
}